* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: sans-serif;
   }
   
   html{
      position: relative;
      background:  darkslategrey;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
  } 
  nav {
    display: grid;
   background: rgba(255, 0, 255, 0.7);
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 90px;
   justify-items: center;
   align-items: center;
   grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  nav .logo  {
    grid-column-start: 1 ;
    grid-column-end: 2;
    justify-items: center;
    align-items: center;
  }
  .logo h1 {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .nav .enlaces{
    grid-column-start: 2 ;
    grid-column-end: 3;
  
  }
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 15px;
      text-decoration: none;
      padding: 7px;
  }
   
   nav.registro {
    grid-column-start: 3 ;
    grid-column-end: 4;
  }
  .register .item {
  display: inline;
  padding: 20px;
  }
  .item .toppers:hover {
    padding: 20px;
    border-radius: 10%;
    text-transform: uppercase;
    transform: all 1s ease-in-out;
    border: 2px solid black;
   color: black;
  
  }

  /* ///////////////////////////contacto/////////////////////// */
  section  {
    display: grid;
    grid-template-columns: 1fr;
   margin: 100px auto;
   max-width: 700px;
  }
  form {
   padding: 30px 80px;
   background: darkslategray;
   grid-column-start: 1;
   grid-column-end: 2;
   border-radius: 15%;
   border: 5px solid rgba(255, 0, 255, 0.7);
   display: grid;
   height: 100%;
   width: 100%;
  }
  label {
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
   
  }
  input {
    width: 100%;
    height: 40px;
    border: 3px solid rgba(255, 0, 255, 0.7);
     background: transparent;
  } 
  h2 {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: 3px solid rgba(255, 0, 255, 0.7);
    border-radius: 5%;
  }
  button {
    background: rgba(255, 0, 255, 0.7);
    color: white;
    padding: 10px 20px;
  margin-top: 25px;
 justify-self: center;
 border-radius: 10%;
   
  }
input:focus {
  cursor: pointer;
  border: 3px solid rgba(255, 0, 255, 0.7);
  background: white;
}
textarea:focus {
  cursor: pointer;
  border: 3px solid rgba(255, 0, 255, 0.7);
  background: white;
  outline: none;
}

footer {
  display: grid;
  grid-template-rows: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: rgba(255, 0, 255, 0.7);
}

footer  span  {
  display: grid;
   color: white;
   justify-content: center;
   align-items: center;
 }

 /*////////////////////ERRORES///////////////////////////////////*/

 #errormsgName {
   font-size: 14px;
  color: white;
  font-style: italic;
   margin-left: 50px;
  
 
 }
 #errormsgemail {
  font-size: 14px;
 color: white;
 font-style: italic;
 margin-left: 50px;
}
#errormessage {
  font-size: 14px;
 color: white;
 font-style: italic;
 margin-left: 50px;
}

@media (min-width: 300px)  and (max-width: 768px) {
  
  nav {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
  }
  nav.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
  nav .enlaces {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-between;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 15px;
   
      text-decoration: none;
      padding: 8px;
  }
  nav .register {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: space-between;
  }
  .register .item {
    display: inline;
    padding: 8px;
    font-size: 11px;
    }
    section {
      margin: 50px auto;
   max-width: 500px;
   
    }
    form {
      padding: 15px 30px;
      background: darkslategray;
      border-radius: 15%;
      border: 3px solid rgba(255, 0, 255, 0.7);
      display: grid;
     }
     textarea:hover {
       color: white;
       background: transparent;
     }
      
     
     footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px;
      justify-items: center;
      align-items: center;
      background: rgba(255, 0, 255, 0.7);
    }
      footer span p {
      font-size: 12px;
    }
    
}
@media (min-width: 769px) and  (max-width: 1025px) {
  
  nav {
    display: grid;
   background: rgba(255, 0, 255, 0.7);
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 100px;
   justify-items: center;
   align-items: center;
   grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  nav .logo  {
    grid-column-start: 1 ;
    grid-column-end: 2;
    justify-items: center;
    align-items: center;
  }
  .logo h1 {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .nav .enlaces{
    grid-column-start: 2 ;
    grid-column-end: 3;
  
  }
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 14px;
      text-decoration: none;
      padding: 6px;
  }
   
   nav.registro {
    grid-column-start: 3 ;
    grid-column-end: 4;
  
  }
  .register .item {
  display: inline;
  padding: 7px;
  }
  .item .toppers:hover {
    padding: 10px;
    border-radius: 10%;
    text-transform: uppercase;
    transform: all 1s ease-in-out;
    border: 2px solid black;
   color: black;
  
  }
  section {
    margin: 50px auto;
   max-width: 600px;
  }
  form {
    padding: 10px 10px;
    background: darkslategray;
    border-radius: 15%;
    border: 3px solid rgba(255, 0, 255, 0.7);
    display: grid;
   }
   
footer {
  display: grid;
  grid-template-rows: 100px;
 justify-items: center;
 align-items: center;
  background: rgba(255, 0, 255, 0.7);
}

footer  span  {
   color: white;
   font-size: 18px;
  
 }
  
}
