* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: sans-serif;
   }
   
   html{
      background:  darkslategrey;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      
  } 
  
  nav {
    display: grid;
   background: rgba(255, 0, 255, 0.7);
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 90px;
   justify-items: center;
   align-items: center;
   
   grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
   
  }
  nav .logo  {
    grid-column-start: 1 ;
    grid-column-end: 2;
    justify-items: center;
    align-items: center;
  }
  .logo h1 {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .nav .enlaces{
    grid-column-start: 2 ;
    grid-column-end: 3;
  
  }
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 20px;
      text-decoration: none;
      padding: 7px;
  }
   
   nav.registro {
    grid-column-start: 3 ;
    grid-column-end: 4;
  }
  .register .item {
  display: inline;
  padding: 20px;
  }
  .item .toppers:hover {
    padding: 20px;
    border-radius: 10%;
    text-transform: uppercase;
    transform: all 1s ease-in-out;
  
  }

  /* /////////////////////////////////form //////////////// */
  .form-container {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 150px 1fr;
   row-gap: 20px;
    color: white;
    border: 2px solid rgba(255, 0, 255, 0.7);
    margin: 20px auto;
    max-width: 750px;
    padding: 30px;
    font-size: 18px;
    
  }
  input {
    width: 100%;
    height: 50px;
    border-radius: 5%;
    background: transparent;
    border: 3px solid rgba(255, 0, 255, 0.7);
    
  }
  input:focus {
    color: white;
    background: transparent;
  }
  #submit {
    background: rgba(255, 0, 255, 0.7);
    color: white;
    font-size: 18px;
    padding: 15px 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    margin:  0 auto;
    
  }
  
  #submit:hover {
    opacity: 0.5;
  }
  h2 {
    text-align: center;
    color: white;
    margin: 50px auto;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 0, 255, 0.7);
  }
  
  footer  span p  {
     color: white;
     font-size: 18px;
   }
  
  @media (min-width: 300px)  and (max-width: 768px) {
    
    nav {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 50px 50px;
    }
    nav.logo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: center;
    }
    nav .enlaces {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-content: space-between;

    }
    .item .toppers {
      list-style-type: none;
      color: white;
        display: inline;
      font-size: 15px;
     
        text-decoration: none;
        padding: 8px;
    }
    nav .register {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-content: space-between;
      
     
    }
    .register .item {
      display: inline;
      padding: 8px;
      font-size: 11px;
      }
  
  .form-container {
    display: grid;
    grid-template-columns:  100px 1fr;
    max-width: 400px;
   align-items: center;
   padding: 10px;
   margin: 10px auto;
   border: none;
  
  }
  .form-container label {
    font-size: 17px;
   
  }

  #submit {
    background: rgba(255, 0, 255, 0.7);
    color: white;
    height: 30px;
    font-size: 15px;
    padding: 5px 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
   
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 0, 255, 0.7);
  }
  
  footer  span p  {
     color: white;
     font-size: 12px;
   }
}
  
  @media (min-width: 769px) and  (max-width: 1225px) {
    nav {
      display: grid;
     background: rgba(255, 0, 255, 0.7);
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 100px;
     justify-items: center;
     align-items: center;
     grid-column-start: 1 ;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
     
    }
    nav .logo  {
      grid-column-start: 1 ;
      grid-column-end: 2;
      justify-items: center;
      align-items: center;
    }
    .logo h1 {
      padding: 20px;
      font-size: 30px;
      color: white;
      font-weight: 700;
      letter-spacing: 0.5rem;
      padding: 15px;
    }
    
    .nav .enlaces{
      grid-column-start: 2 ;
      grid-column-end: 3;
    
    }
    .enlaces .item {
      display: inline;
      padding: 20px;
    }
    .item .toppers {
      list-style-type: none;
      color: white;
        display: inline;
      font-size: 14px;
        text-decoration: none;
        padding: 6px;
    }
     
     nav.registro {
      grid-column-start: 3 ;
      grid-column-end: 4;
    
    }
    .register .item {
    display: inline;
    padding: 7px;
    }
    .item .toppers:hover {
      padding: 10px;
      border-radius: 10%;
      text-transform: uppercase;
      transform: all 1s ease-in-out;
      border: 2px solid black;
     color: black;
    
    }
    
  .form-container {
    display: grid;
    grid-template-columns:  100px 1fr;
    max-width: 500px;
   align-items: center;
   padding: 10px;
   margin: 10px auto;
   border: none;
  
  }
  .form-container label {
    font-size: 17px;
    padding-left: 10px;
  }
  .form-container input {
   width: 100%;
  }
  #submit {
    background: rgba(255, 0, 255, 0.7);
    color: white;
    height: 30px;
    font-size: 15px;
    padding: 5px 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
   
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 0, 255, 0.7);
  }
  footer  span p  {
     color: white;
     font-size: 15px;
   }
  }

  


