* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: sans-serif;
   }
   
   html{
      /* position: relative; */
      background:  darkslategrey;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      
  } 
  
  nav {
    display: grid;
   background: rgba(255, 0, 255, 0.7);
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 90px;
   justify-items: center;
   align-items: center;
   
   grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
   
  }
  nav .logo  {
    grid-column-start: 1 ;
    grid-column-end: 2;
    justify-items: center;
    align-items: center;
  }
  .logo h1 {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .nav .enlaces{
    grid-column-start: 2 ;
    grid-column-end: 3;
  
  }
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 20px;
   
      text-decoration: none;
      padding: 10px;
  }
   
   nav.registro {
    grid-column-start: 3 ;
    grid-column-end: 4;
  }
  .register .item {
  display: inline;
  padding: 20px;
  }
  .item .toppers:hover {
    padding: 20px;
    border-radius: 10%;
    text-transform: uppercase;
    transform: all 1s ease-in-out;
    border: 2px solid black;
   color: black;
  
  }
  /* //////////////////////////////////////// formulario registro //////////////////////////////////// */
  .container {
      display: grid;
      width: 850px;
      grid-template-columns:  1fr;
      grid-template-rows: 1fr;
     justify-items: center;
     padding: 16px;
    background-color:  darkslategray;
    border: 3px solid rgba(255, 0, 255, 0.7);
    margin: 30px  auto;
  }

  .container h2 {
    font-size: 30px;
      margin: 30px auto;
      color: white;
      margin-top: 30px;
     

  }
  label {
    color: white;
  }
  select {
    width: 100%;
    border: 2px solid rgba(255, 0, 255, 0.7);
    background: white;
    color: darkslategray;
  }
  
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 500px;
    padding: 15px;
    margin: 10px 0 25px 0;
    display: block;
    border: none;
    background: transparent;
    border: 2px solid rgba(255, 0, 255, 0.7);
  }
  
  input[type=text]:focus, input[type=password]:focus {
    
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  /* //////////////////////////// COMIENZO DE ESTILOS EN MENSAJES DE ERROR ////////////////////////////// */
  #errormsg {
    color:  rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  #errorpwd {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  #errorpwd1 {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  #errorgenero {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  #erroredad {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
   
  }
  #errorjoven {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  #errorterm {
    color:  white;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 20px;
  }
  
  /* //////////////////////////// FIN DE ESTILOS EN MENSAJES DE ERROR ////////////////////////////// */
  
  button{
    background-color:rgba(255, 0, 255, 0.7);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 0, 255, 0.7);
  }
  footer span {
    color: white;
    font-size: 18px;
  }
  
  
  @media (min-width: 300px)  and (max-width: 768px) {
    .container {
      grid-template-columns:  1fr;
      width: 400px;
      display: block;
      padding-top: 30px;
      margin: 10px auto;
      border: none;
    }
    nav {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    nav.logo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: center;
    }
    nav .enlaces {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-content: space-between;
      padding-bottom: 30px;

    }
    .item .toppers {
      list-style-type: none;
      color: white;
        display: inline;
      font-size: 15px;
     
        text-decoration: none;
        padding-bottom: 20px;
    }
    nav .register {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-content: space-between;
      padding-bottom: 35px;
    }
    form {
      justify-self: center;
    }
    .register .item {
      display: inline;
      padding: 8px;
      font-size: 11px;
      }
      input[type=text], input[type=password] {
        width: 300px;
        padding: 15px;
        margin: 10px 0 15px 0;
        display: block;
        border: none;
        background: transparent;
        border: 2px solid rgba(255, 0, 255, 0.7);
      }
      select {
        width: 100%;
        margin-top: 10px;
        border: 2px solid rgba(255, 0, 255, 0.7);
        background: transparent;
        color: darkslategray;
      }
      button{
        background-color:rgba(255, 0, 255, 0.7);
        color: white;
        padding: 8px 15px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        opacity: 0.9;

      }
      
      
    }
  

  @media (min-width: 769px) and  (max-width: 1230px) {
    .container {
      grid-template-columns:  1fr;
      width: 600px;
      display: block;
      padding-top: 30px;
      margin: 10px auto;
    }
    nav {
      display: grid;
     background: rgba(255, 0, 255, 0.7);
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 150px;
     justify-items: center;
     align-items: center;
     height: 120px;
     grid-column-start: 1 ;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
     
    }
    nav .logo  {
      grid-column-start: 1 ;
      grid-column-end: 2;
      justify-items: center;
      align-items: center;
    }
    .logo h1 {
      padding: 20px;
      font-size: 30px;
      color: white;
      font-weight: 700;
      letter-spacing: 0.5rem;
      padding: 15px;
    }
    
    .nav .enlaces{
      grid-column-start: 2 ;
      grid-column-end: 3;
    
    }
    .enlaces .item {
      display: inline;
      padding: 20px;
    }
    .item .toppers {
      list-style-type: none;
      color: white;
        display: inline;
      font-size: 16px;
     
        text-decoration: none;
        padding: 8px;
    }
     
     nav.registro {
      grid-column-start: 3 ;
      grid-column-end: 4;
    }
    .register .item {
    display: inline;
    padding: 7px;
    
    }
    
    .item .toppers:hover {
      padding: 10px;
      border-radius: 10%;
      text-transform: uppercase;
      transform: all 1s ease-in-out;
      border: 2px solid black;
     color: black;
    
    }
  }