 * {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
  font-family: sans-serif;
 }
 
 html{
    position: relative;
    background:  darkslategrey;
    height: 100vh;
    width: 100vw;
    
} 
/*/////PRE LOADER //////////////////////////*/
.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #272727;
	z-index: 99;
}
	.texto {
		color: #666;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-weight: bold;
		line-height: 1.5;
  }

.spinner {
	position: relative;
	top: 35%;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.7);
  border-radius: 100%;  
   -webkit-animation: sk-scaleout 1.5s infinite ease; 
   animation: sk-scaleout 1.5s infinite ease; 
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* //////////////////////////////////////////////////////// inicio del html /////////////////////////////////////// */
 
nav {
  display: grid;
 background: rgba(255, 0, 255, 0.7);
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 90px;
 justify-items: center;
 align-items: center;

 grid-column-start: 1 ;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
 
}
nav .logo  {
  grid-column-start: 1 ;
  grid-column-end: 2;
  justify-items: start;
  align-items: center;
}
.logo h1 {
  padding: 20px;
  font-size: 30px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5rem;
  padding: 15px;
}

.nav .enlaces{
  grid-column-start: 2 ;
  grid-column-end: 3;

}
.enlaces .item {
  display: inline;
  padding: 20px;
}
.item .toppers {
  list-style-type: none;
  color: white;
    display: inline;
  font-size: 20px;
 
    text-decoration: none;
    padding: 10px;
}
 
 nav.register {
  grid-column-start: 3 ;
  grid-column-end: 4;
  justify-content: center;
 
}
.register .item {
display: inline;
padding: 20px;
}
.item .toppers:hover {
  padding: 20px;
  border-radius: 10%;
  text-transform: uppercase;
}



/* /////////////////////////////////////main/////////////////////////////// */
main {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
} 
.texto-carousel {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px 30px;
  border-right: 4px dotted rgba(255, 0, 255, 0.7);
  margin: 35px auto;
}
.texto-carousel h2 {
  color: white;
  font-weight: bold;
  font-size: 30px;

}
.texto-carousel .lead {
  font-size: 22px;
  padding: 10px 20px;
  color: white;
}
button  {
  padding: 10px 10px;
  background-color:  rgba(255, 0, 255, 0.7);
  border-radius: 20%;
}
button .canciones {
  color: white;
  text-decoration: none;
}

/* ////////////////////////// carousel /////////////////////////////// */

.carousel {
  grid-column-start: 2;
  grid-column-end: 3;
  /*justify-items: center;
    align-items: center;  */
  background: rgba(255, 0, 255, 0.7);
  text-align: center;
  padding: 4em 0;
  height: 26.5em;
  position: relative;
  overflow: hidden;
  margin: 35px 40px 20px 90px;
  max-width: 1000px;
  border: 5px solid white;
 
}
.carousel h2 {
  margin: 0;
  margin-top: 1.7em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: white;
}
.carousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;

  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
}
.carousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}
.carousel li p{
  margin-top: 0;  
}
.carousel li q {
  max-width: 90%;
  margin: auto;
  color:  white;
  font-size: 1.5em;
  font-weight: bold;
}
.carousel li img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.carousel li span.author {
  margin-top: 2.5em;
  font-size: 1.2em;
  color: white;
  display: block;
}
.carousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
    position: absolute; 
    width: 104px; 
    left: 50%;
    margin-left: -52px; 
}
.carousel input {
  display: none;
}
.carousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px white;
  font-size: 0;
}
 
#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
} 


.carousel .slidesNavigation label:hover {
   cursor: pointer;
}

.carousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background:  darkslategray;
}
  section .table {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-items: center;
  align-items: center;
  display: table;
  width:100%;
  border-collapse:collapse;
  margin: 40px auto;
  width: 70%;
} 
.table-title{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 10px 0;
  color: white;
  justify-items: center;
  align-items: center;
  font-weight:bold;
  font-size: 30px;
} 
.table-head{
  font-weight:bold;
  grid-column-start: 2;
    grid-column-end: 3;
    display: table-cell;
  padding:1em;
  border: rgba(255, 0, 255, 0.7) 1px solid;
  color: white;
}

  

  .table-row{
    display: table-row;
    grid-column-start: 2;
    grid-column-end: 3;
  }
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  justify-items: center;
  align-items: center;
  background: rgba(255, 0, 255, 0.7);
  bottom: 0;
}
footer span p {
  color: white;
  font-size: 18px;
}

@media (min-width: 300px)  and (max-width: 768px) {
   
   nav  {
   width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
  } 
  nav.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
  nav .enlaces {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-between;

  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 12px;
      text-decoration: none;
     
  }
  nav .register {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: space-around;
    
   
  }
  .register .item {
    display: inline;
    padding-bottom: 20px;
    font-size: 11px;
    }
 
     main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 320px 360px 1fr;
      max-height: 600px;
      
    } 
    .texto-carousel {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 10px 30px;
      border-bottom:  4px dotted rgba(255, 0, 255, 0.7);
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .texto-carousel h2 {
      color: white;
      font-weight: bold;
      font-size: 24px;
    }
    .texto-carousel .lead {
      font-size: 18px;
      padding: 10px 10px;
      color: white;
    }
    .carousel {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;  
      background: rgba(255, 0, 255, 0.7);
       text-align: center;  
      padding: 4em 0;
      height: 15.5em;
      margin: 10px 10px;
      border: 2px solid white;
     
    }
    .carousel h2 {
      margin: 20px 0;
      margin-top: -1.4em;
      padding: 0;
      font-size: 1em;
      text-align: center;
      color: #bbbbbb;
    }
    .carousel .slides {
     width: 400%;
      left: 0;
      padding-left: 0;
      padding-top: 1em;
       overflow: hidden; 
      list-style: none;
      position: relative;
      -webkit-transition: transform .5s;
      -moz-transition: transform .5s;
      -o-transition: transform .5s;
      transition: transform .5s;
    }
    .carousel .slides li {
      width: 25%;
      position: relative;
      float: left;
     
      
    }
    .carousel li p{
      margin-top: 0;  
    }
    .carousel li q {
      max-width: 30%;
      margin: auto;
      color:  white;
      font-size: 1em;
      font-weight: bold;
    }
    .carousel li img {
      width: 4em;
      height: 4em;
      object-fit: cover;
      border-radius: 50%;
      margin-left: -1.5em;
      margin-right: 0.5em;
      vertical-align: middle;
    
    }
    .carousel li span.author {
      margin-top: 1em;
      font-size: 1em;
      color: white;
      display: block;
    }
    
   section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-content: center;
      align-items: center; 
    }
    .table-title {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px;
      grid-column-start: 1;
      justify-items: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px;
      justify-items: center;
      align-items: center;
      background: rgba(255, 0, 255, 0.7);
    }
      .footer span p {
      font-size: 12px;
    }
}
@media (min-width: 769px) and  (max-width: 1025px) {
  nav {
    display: grid;
   background: rgba(255, 0, 255, 0.7);
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 100px;
   justify-items: center;
   align-items: center;
   grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
   
  }
  nav .logo  {
    grid-column-start: 1 ;
    grid-column-end: 2;
    justify-items: center;
    align-items: center;
  }
  .logo h1 {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .nav .enlaces{
    grid-column-start: 2 ;
    grid-column-end: 3;
  
  }
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 15px;
   
      text-decoration: none;
      padding: 5px;
  }
   
   nav.registro {
    grid-column-start: 3 ;
    grid-column-end: 4;
  ;
  }
  .register .item {
  display: inline;
  padding: 7px;
  }
  .item .toppers:hover {
    padding: 10px;
    border-radius: 10%;
    text-transform: uppercase;
    transform: all 1s ease-in-out;
    border: 2px solid black;
   color: black;
  
  }

  .texto-carousel {
    display: grid;
    grid-template-columns: 200fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 25px 30px;
    max-width: 70%;
    margin: 30px 10px 20px 52px;
  }
  
  .texto-carousel h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
  
  }
  .texto-carousel .lead {
    font-size: 16px;
    padding: 10px 10px;
    color: white;
  }
  button  {
    padding: 10px 10px;
    background-color:  rgba(255, 0, 255, 0.7);
    border-radius: 20%;
    margin: 30px 0;
  }
  button .canciones {
    color: white;
    text-decoration: none;
    margin: auto;
  }
  
  .carousel {
    grid-column-start: 2;
    grid-column-end: 3;
    background: rgba(255, 0, 255, 0.7);
    text-align: center;
    padding: 2em 0;
    height: 20.5em;
    max-width: 700px;
    margin: 20px 20px;
    border: 3px solid white;
  }
  .carousel h2 {
    margin: 0;
    margin-top: -1.3em;
    padding: 0;
    font-size: 0.5rem;
    text-align: center;
    color: #bbbbbb;
  }
  .carousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;

  }
  .carousel .slides li {
    width: 25%;
    position: relative;
    float: left;
  }
  .carousel li p{
    margin-top: 0;  
  }
  .carousel li q {
    max-width: 90%;
    margin: auto;
    color:  white;
    font-size: 1.5em;
    font-weight: bold;
  }
  .carousel li img {
    width: 7em;
    height: 7em;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
  }
  .carousel li span.author {
    margin-top: 2.5em;
    font-size: 1.2em;
    color: white;
    display: block;
  }
  .carousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
      position: absolute; 
      width: 104px; 
      left: 50%;
      margin-left: -52px; 
  }
  .carousel input {
    display: none;
  }
  .carousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px white;
    font-size: 0;
  }
   
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-25%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-50%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-75%);
  } 
  
  
  .carousel .slidesNavigation label:hover {
     cursor: pointer;
  }
  
  .carousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background:  darkslategray;
  }
  .table-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-column-start: 1;
    justify-items: center;
    align-items: center;
  }
 section {
   margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: center;
    align-items: center; 
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 0, 255, 0.7);
  }
   footer span p {
    font-size: 14px;
  }
}

  @media (min-width:901px) and (max-width: 1230px) {  
    .item .toppers {
      list-style-type: none;
      color: white;
        display: inline;
      font-size: 14px;
        text-decoration: none;
        padding: 7px;
    }
     nav.register {
      grid-column-start: 3 ;
      grid-column-end: 4;
      justify-content: center;
    }
    .register .item {
    display: inline;
    padding: 10px;
    }
    footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px;
      justify-items: center;
      align-items: center;
      background: rgba(255, 0, 255, 0.7);
    }
      footer span p {
      font-size: 18px;
    }
    }


  