* {
    margin:  0;
    padding:  0;
     box-sizing: border-box; 
    font-family: sans-serif;
   }
   
   body {
  
      background:  darkslategrey;
  
  } 
  
  header {
    margin-left: 150px;
  }
  nav {
   width: 100vw;
   background: rgba(255, 0, 255, 0.7)
  }
  

  .logo{
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 15px;
  }
  
  .enlaces .item {
    display: inline;
    padding: 20px;
  }
  .item .toppers {
    list-style-type: none;
    color: white;
      display: inline;
    font-size: 20px;
      text-decoration: none;
      padding: 10px;
  }
   
  .register .item {
  
  padding: 20px;
  } 
  h2 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 200px;
  }
  
.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 150px;
  background: rgba(255, 0, 255, 0.7);
}

.footer  span  {
  display: grid;
   color: white;
   justify-content: center;
   align-items: center;
 
 }
 