body {
    background-color: darkgray;
}
h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
    
}
h2 {
    color: darkred;
    font-weight: bold;
    
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 25%;
}
footer {
    background-color: blueviolet;
}
footer h2 {
    color: cornsilk;
    font-weight: 800;
}