.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 5fr 4.5fr 3fr 0.5fr;
    margin-left: 2em;
    margin-right: 2em;
    height: 100vh;
}
.nav {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 1px solid black;
}
.hero {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: end;
    margin-top: 2em;
    
    background-image: url(./img/logo1.png);
    background-repeat: no-repeat;
    background-size: 30em 20em;

}
.section {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns:  repeat(3,  1fr);
    grid-gap: 30px;
    margin-top: 0.5em;
}
h1 {
    margin-right: 3em;
    margin-top: 2em;
}
h2 {
    margin-top: 5em;
    text-align: center;
}
.cards {
    background-color: white;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 3px;
    height: 100%;
   
}
button {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: teal;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
.hidden {
    height: 100%;
    text-align: center;
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 2.5em;
    gap: 30px;
 box-shadow: 2px 2px 10px 10px;

}
/* #newRow {
    display: none;
} */

#texto  {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
}
#texto1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
}
#texto2 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:  blue;
}
 
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
  
}
.footer h3 {
    float: right;
}
.cards:hover {
    transform: scale(1.1);
}