*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
} 
body {
background:  lightgray;
height: 100vh;
width: 100vw;
overflow-x: hidden;

}
main {
    margin: 0 200px 0 200px;
    background: lightgray;
     display: grid;
    grid-template-columns: 300px  1fr;
    grid-template-rows: 250px 1fr  1r 150px;
    grid-template-areas:  " header header"
                                            "aside section"
                                            " aside section"
                                            "footer footer"; 
   height: 100vh;
   
}

 header {
    grid-area: header;
    background: blue;
    padding: 30px 0;
   
 }
header .title {
    display: grid;
   align-items: center;
   justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;
   
}
header .lead {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
} 
aside {
   display: grid; 
  grid-area: aside;
    background:  lightseagreen;
    color: black;
    display: grid;
    justify-content: start;
}
.contenido {
    padding-top: 20px;
}
.contenido h2 {
    font-size: 30px;
    color: black;
}
.list {
   padding: 30px 30px;
}
.list .item {
    font-size: 19px;
    font-weight: 600;
    line-height: 2em;
}
.groceries {
    padding-left: 15px;
}
.groceries  li {
    list-style-type: disc;
   
}
section {
    background: white;
    grid-area: section;
}
section article {
    text-align: left;
    margin: 100px 200px;
}
section article p {
    margin-top: 20px;
}
figure img {
    width: 500px;
    height: 350px;
    margin-left: 200px;
   
}
figure figcaption {
    margin-left: 200px;
    margin-bottom: 30px;
   
}
footer {
    background: rgba(255, 217, 0, 0.466);
    grid-area: footer;
}
footer ul {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
footer ul li a{
    color:  black;
}
@media (max-width: 768px) {
    
    main {
        margin: unset;
        background: lightgray;
         display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 300px  1r 150px;
        grid-template-areas:  " header"
                                                "aside"
                                                " section"
                                                "footer "; 
       height: 100vh;
    }
    header h1 {
        font-size: 90%;
    }
    aside {
        height: auto;
        
        display: grid;
        justify-content: center;
    }
    aside h2 {
        margin-bottom: 30px;
        display: flex;
    }
    
    .contenido h2 {
        font-size: 50px;
    }
    section article {
        margin:  40px 80px;
    }
    figure img{
        width: 250px;
        height: 175px;
        margin: 30px 80px;
    }
    figure figcaption {
        margin: 0px 80px;
        font-size: 70%;
        padding-bottom: 10px;
       
    }
    footer ul li {
        list-style: none;
        
    }
    footer ul li a {
        font-size: 70%;
    }
}
 @media (max-width: 1100px) {
    main {
        margin:unset;
    }
} 
    